             <li style="background-image: url(<%= review.product.image_url %>)">
                <div class="meta">
                  <header>
                    <div class="title"><%= review.product.title %></div>
                    <span class="star"><span class="rating-star"><i class="star-actived rate-<%= review.rate %>0"></i></span></span>
                  </header>
                  <div class="user_review"><%= review.review %></div>
                </div>
              </li>
<!--
